<link rel="stylesheet" href="../estilosNavbar.css">

<nav class="navbar">
    <div class="logo-contenedor">
        <img src="/icons/mundo.png" alt="Logo" class="logo">
        <h3 class="logo-texto">
          <span class="paises">Paises</span><span class="api">API</span>
        </h3>
      </div>

    <ul>
      
       <li><a href="/api/"><img class= "imgcontenedor"src="/icons/casa.png" alt="Home"> Inicio</a></li>
       <li><a href="/api/dashboard"><img class="imgcontenedor" src="/icons/nacional.png" alt="bandera"> Descubre los paises</a></li>
       <li><a href="/api/formulario/crear-pais"><img class="imgcontenedor" src="/icons/mas.png" alt="Crear"> Crear nuevo</a></li>
       
    </ul>
</nav>